---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { CV } from "@consts";
import CVCard from "@components/CVCard.astro";

// TO Modify
const works = [
  {company:"Berlin Institute of Health", time: "2025-Present", job_title: "PhD Candidatet", location: "Berlin, DE", description: "Engineering tools for Phenopacket accessibility and researching on longitudinal Bipolar Disorder data."},
  {company:"Propeller Heads", time: "2021-2025", job_title: "Machine Learning Engineer", location: "Berlin, DE", description: "Writing Rust and Python code. Deploying to Kubernetes. All to make trading Crypto Currencies silky smooth."},
  {company:"Charité Berlin", time: "2020-2021", job_title: "Master Thesis Researcher", location: "Berlin, DE", description: "Conducted cutting‐edge research on AI‐driven acute kidney injury prediction, staying at the fore front of AI in health care."},
]
const educations = [
  {school:"BHT Berlin", time: "2019-2021", job_title: "M.Sc in Media Informatics", location: "Berlin, DE", description: ""},
]
---

<Layout title={CV.TITLE} description={CV.DESCRIPTION}>
  <Container>
    <aside data-pagefind-ignore>
      <div class="space-y-2 md:space-y-10">
        <div class="animate font-semibold text-black dark:text-white">
          Work Experience
        </div>
        <ul class="animate not-prose flex flex-col gap-4">
          {works.map((work) => (
              <CVCard institution={work.company} time={work.time} job_title={work.job_title} location={work.location} description={work.description} />)
          )}
        </ul>
        <div class="animate font-semibold text-black dark:text-white">
          Education
        </div>
        <ul class="animate not-prose flex flex-col gap-4">
          {educations.map((education) => (
            <CVCard institution={education.school} time={education.time} job_title={education.job_title} location={education.location} description={education.description} />)
        )}
        </ul>
      </div>
    </aside>
  </Container>
</Layout>
